div.side-image.droite
	div.content
		h2 #{ illustrationdroiteh2 }
		p
			| #{ illustrationdroitepone }
			| #{ illustrationdroiteptwo }
			| #{ illustrationdroitepthree }
		ul
			li #{ illustrationdroitelione }
			li #{ illustrationdroitelitwo }
	div.images-wrapper
